@page "/"
@inherits SortingVisualizerBase
<h3>SortingVisualizer</h3>


<div class="container">
    <div class="array-container">
        @for (int i = 0; i < NUMBER_OF_ARRAY_BARS; i++)
        {
            <div class="array-bar" style="background-color:@PRIMARY_COLOR; height:@array[i]px">
            </div>
        }
        <button @onclick="resetArray" style="width:auto; ">Generate New Array</button>
        <button>Merge Sort</button>
        <button>Quick Sort</button>
        <button>Heap Sort</button>
        <button>Bubble Sort</button>
        <button>Test Sorting Algorithms (BROKEN)</button>

    </div>
</div>